{% extends "base.html.twig" %}
{% block title %}Job Offers{% endblock %}
{% block body %}

<div id="content" class="col-12">
	<div class='jumbotron jumbotron-fluid text-center'>
		<h1 class='display-2'>Job Offers</h1>
    </div>
    
    <div class="row">
<div class="col-md-3 col-12">
	<div class="card-deck">
		<div class="card jobbo-card">
		
			<div class="card-body">
				<div class="card-title">
					<a href=''>
						<h4 class="text-center">Titre</h4>
					</a>
					
				</div>
				<hr>

				<div class="text-center">
					<h5 class="mb-3">Pôle
						<strong>IT</strong>
					</h5>

					
					<a href="" class="btn btn-info btn-sm m-2">
						<small>candidatures</small>
						<span class='badge badge-light'>Nb</span>
					</a>
				</div>
			</div>
			<div class="card-footer">
				<div class="action-btn text-center mx-auto">
				Postuler
				</div>
			</div>


		</div>
	</div>
</div>

    </div>

</div>

{% endblock %}
