{% extends "base.html.twig" %}

{% block body %}
	<div class='jumbotron jumbotron-fluid text-center p-4'>
		<h1 class='display-3'>Jobify</h1>
		<h2>Applications d'annonnces</h2>

	</div>

	<div class='row'></div>


{% endblock %}
